@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.toggle
{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active
{
    background: #000 url(img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
section
{
    padding: relative;
    min-height: 100vh;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.banner .imgSidebar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .contentBx
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.logoText
{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}
.banner .contentBx h4
{
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}
.banner .contentBx h4 span
{
    color: #fa4b65;
    font-size: 1.5em;
    font-weight: 700;
}
.banner .contentBx h2
{
    font-size: 3em;
    color: #333;
    line-height: 1em;
}
p
{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}
.btn
{
    background: #fa4b65;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}